@{
    Layout = null;
}

<!DOCTYPE html>

<html class="no-js">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Styles/login.css" rel="stylesheet" />
    <link href="~/Content/Styles/supersized.css" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="~/Scripts/html5.js"></script>
    <![endif]-->
    <script src="~/Scripts/jquery-1.11.2.min.js"></script>
    <title>Login</title>
    <script>
        function changeCheckCode() {
            $("#code").attr("src", $("#code").attr("src") + 1);
        }
    </script>
</head>
<body>
    <div class="login_box">
        <div class="main">
            <div class="vlogo">
                <img src="/Content/Images/logo.png" />
            </div>
            <div class="login_form">
                <form>
                    <div class="form-group">
                        <label for="txtUsername" class="t">用户名：</label>
                        <input type="text" class="form-control x319" id="txtUsername" />
                    </div>
                    <div class="form-group">
                        <label for="txtPassword" class="t">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
                        <input type="password" class="form-control x319" id="txtPassword" />
                    </div>
                    <div class="form-group">
                        <label for="txtCode" class="t">验证码：</label>
                        <input type="text" class="form-control x164" id="txtCode" /> <img id="code" src="/Login/ValidateCode?id=1" />
                        <a href="javascript:void(0)" onclick="changeCheckCode();return false;">看不清，换一张</a>
                    </div>
                    <div class="form-group">
                        <label class="t"></label>
                        <label for="txtRemember" class="m">
                            <input type="checkbox" id="txtRemember" />记住账号
                        </label>
                    </div>
                    <div class="form-group space">
                        <label class="t"></label>
                        <button id="btnLogin" type="button" class="btn btn-primary btn-lg" style="margin-left:65px;">&nbsp;登&nbsp;陆&nbsp;</button>
                        <input value=" 重 置 " type="reset" class="btn btn-default btn-lg" />
                    </div>
                </form>
            </div>
        </div>
        <div class="bottom">Copyright © 2015 <a>qx后台管理登陆</a></div>
    </div>
    <script src="~/Scripts/supersized.3.2.7.min.js"></script>
    <script src="~/Scripts/supersized-init.js"></script>

    <script src="~/Scripts/tooltips.js"></script>
    <script src="~/Scripts/login.js"></script>

</body>
</html>
