body {
    margin: 0;
}


.login_box {
    width: 600px;
    height: 460px;
    margin: 60px auto;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
}

    .login_box .main {
        padding: 30px 30px;
    }

        .login_box .main .vlogo {
            margin: auto;
            width: 135px;
            height: 45px;
        }

.login_form {
    margin-top: 40px;
    width: 540px;
    height: 271px;
}


.login_box .form-control {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: auto;
    font-size: 18px;
}

    .login_box .form-control.x319 {
        width: 319px;
    }

    .login_box .form-control.x164 {
        width: 164px;
    }

.login_box .form-group {
    margin-bottom: 20px;
}

    .login_box .form-group label.t {
        width: 120px;
        text-align: right;
        cursor: pointer;
    }

    .login_box .form-group.space {
        padding-top: 15px;
        border-top: 1px #FFF dotted;
    }

    .login_box .form-group img {
        margin-top: 1px;
        height: 32px;
        vertical-align: top;
    }

.login_box .m {
    cursor: pointer;
}

.bottom {
    text-align: center;
    font-size: 12px;
}
