@{
    ViewBag.Title = "Index - User";
}

<div style="width:1000px;margin:auto;">
    <div>
        <a href="/Admin/User/Add">增加</a>
        <a href="javascript:void(0)" id="btnDeleteUser">删除</a>
        <a href="javascript:void(0)" id="btnUpdateUser">编辑</a>
        <a href="javascript:void(0)" id="btnLookUserRole">查看角色</a>
        <a href="javascript:void(0)" id="btnInvokeRole">授予角色</a>
    </div>
    <table id="userLst"></table>
</div>
<div id="wUserRoles" class="easyui-window" title="查看用户角色" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:700px;height:500px;padding:10px;">
    <table id="userRoleLst"></table>
</div>

<div id="wInvokeUserRoles" class="easyui-window" title="授予角色" data-options="modal:true,closed:true,iconCls:'icon-save'" style="width:700px;height:500px;padding:10px;">
    <input type="text" name="SearchRole" class="SearchRole" autocomplete="off">
    <input type="hidden" id="txtRid" />
    <input type="button" id="btnAddRoleToUser" value="添加" /> <input type="button" value="删除选中" id="btnDeleteRoleFromUser" />
    <div>已有角色</div>
    <table id="userRoleLst1"></table>
    <div id="invokeWarning"><input type="hidden" id="userID"></div>
    <script>
     
    </script>
</div>


<script src="~/Scripts/sys_user.js"></script>

 