@{
    ViewBag.Title = "Index";
}

<div style="width:1000px;margin:auto">
    <h3>部门</h3>
    <div><a href="/Admin/Department/Add">增加部门</a> <a href="javascript:void(0)" id="btnDeleteDepartment">删除部门</a> <a href="javascript:void(0)" id="btnUpdateDepartment">修改部门</a></div>
    <table id="departmentLst"></table>
</div>

<script src="~/Scripts/sys_department.js"></script>